

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyAQI-Homepage </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://d1a3f4spazzrp4.cloudfront.net/uber-fonts/2.0.1/superfine.css"/>
  </head>
 <style>
		html {
  
  background-color: #FFFFFF;
}
body {
  
  background-color: #FFFFFF;
}
h1 {
  font-family: 'roboto', arial, helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
form {
	font-family: 'Open Sans', sans-serif;
}
.info-section{

}
</style>
<body>
    <div><center>
         <h1><span class="rainbow">MyAQI</span><br></h1>
         <h3><span class="rainbow">The Number One platform to get real time air quality index!</span>
         </h3>  </center>
 <section class="section" id="search-location-section">
 <ul class="nav navbar-nav" style="background-color:black;	">
  <li class="nav-item active" style="width:425px; ">
      <a class="nav-link" href="javascript:openURL()">Home <span class="sr-only">(current)</span></a>
    </li>
  
    <li class="nav-item" style="width:423px;">
      <a class="nav-link" href="/VendorSignUp">
Vendor</a>
    </li>
    
    
    <li class="nav-item" style="width:420px;">
      <a class="nav-link" href="/Sumclassification">
User</a>
    </li>
   <li style="top: 8px;">
     <form class="form-inline pull-xs-right" action="/">
    
    <button class="btn btn-default"  style=" width:80px;background-color:#C0C0C0;" type="submit">Back</button>
  </form>
    </li>
  </ul>
 		<div  id="homepage-video-wrapper" data-video="https://breezometer.com/wordpress/wp-content/themes/breezometer/assets/video/homepage-run">
			 <video loop autoplay id="homepage-run-video" style="width: 1500px; float: right;">
			 
			  <source src="https://breezometer.com/wordpress/wp-content/themes/breezometer/assets/video/homepage-run.mp4" type="video/mp4">
			  <source src="https://breezometer.com/wordpress/wp-content/themes/breezometer/assets/video/homepage-run.ogg" type="video/ogg">
			  <source src="https://breezometer.com/wordpress/wp-content/themes/breezometer/assets/video/homepage-run.webm" type="video/webm">

 			Your browser does not support the video tag.
			</video> 
		</div>
		
	</section>
  <section>
		
		
	</section>
   
 
  
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d1a3f4spazzrp4.cloudfront.net/login/scripts/login.cfce02fa08284ef6ee2b2935e45bde9e.js"></script>

    
</body>
</html>
